<template>
    <lightning-card title="Account and Contact Select">
        <lightning-combobox
            name="progress"
            label="Select Department"
            value={value}
            placeholder="Select Department"
            options={options}
            onchange={handleChange} >
        </lightning-combobox>
      <template if:true={showContact}>
        <c-day2-contact-select accountid={value} onselected={contactSelected}></c-day2-contact-select>
      </template>
    </lightning-card>
</template>