<template>
    <table class="slds-table slds-table_cell-buffer slds-table_bordered">
        <thead>
            <tr class="slds-line-height_reset">
                <th class="" scope="col">
                    <div class="slds-truncate">Assigned Shift</div>
                </th>
                <th class="" scope="col">
                    <div class="slds-truncate">Shift Date</div>
                </th>
                <th class="" scope="col">
                    <div class="slds-truncate">Employee</div>
                </th>
                <th class="" scope="col">
                    <div class="slds-truncate">
                        Action
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <template if:true={shifts}>
                <template for:each={shifts} for:item="contact">
                    <tr key={contact.Id} class="slds-hint-parent">
                        <td>
                            <div class="slds-truncate">{contact.shiftRecord.Assigned_Shift__c}</div>
                        </td>
                        <td>
                            <div class="slds-truncate">{contact.shiftRecord.Shift_Date__c}</div>
                        </td>
                        <td>
                            <div class="slds-truncate">{contact.shiftRecord.Employee__r.Name}</div>
                        </td>
                        <td>
                            <div class="slds-truncate">
                                <lightning-button variant="brand" label="Edit" if:true={contact.isEditable}
                                    onclick={handleClick} data-id={contact.shiftRecord.Id} class="slds-m-left_x-small">
                                </lightning-button>
                            </div>
                        </td>
                    </tr>
                </template>
            </template>

        </tbody>
    </table>
</template>