<template>
    <lightning-card  title="Demo Component">
        <h1> Hello World, {message}</h1> 
        <br/><br/>
        <lightning-input type="text" name="input1" label="Enter a value" value={message} onchange={handleMessagechange}></lightning-input>
    </lightning-card>
</template>