<template>
        <lightning-record-edit-form record-id={recordId}
                                    object-api-name="Shift__c" onsuccess={handleSuccess}>
            <lightning-messages>
            </lightning-messages>
            <lightning-output-field field-name="Employee__c">
            </lightning-output-field>
            <lightning-output-field field-name="Shift_Date__c">
            </lightning-output-field>
            <lightning-input-field field-name="Assigned_Shift__c">
            </lightning-input-field>
            <lightning-input-field field-name="Meal_Request__c">
            </lightning-input-field>
            <lightning-button
                class="slds-m-top_small"
                variant="brand"
                type="submit"
                name="update"
                label="Update">
            </lightning-button>
        </lightning-record-edit-form>
    </template>