<template>
    <div class={font}>
    <lightning-card title="Shift Details" class={color}>
        <lightning-combobox
            name="progress"
            label="Select Department"
            value={value}
            placeholder="Select Department"
            options={options}
            onchange={handleChange} >
        </lightning-combobox>
    <lightning-combobox
            name="progress"
            label="Select Employee"
            value={selectedContact}
            placeholder="Select Employee"
            options={contacts}
            onchange={handleContactChange} >
    </lightning-combobox>
    <br/>
    <c-shift-component record-id={selectedContact}></c-shift-component>
    </lightning-card>
</div>
</template>