.red{
    color : red;
}

.green{
    color : green;
}

.blue{
    color : blue;
}

.cursive{

    font-family: cursive;

}

.monospace{
    font-family: monospace;
}

.sans-serif{
    font-family: sans-serif;
}